################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SandboxConsole
/.vs/ProjectEvaluation
/BigONotation/obj
/BTreeExample/bin/Debug
/BTreeExample/obj/Debug
/CapTheorem/bin/Debug
/CapTheorem/obj/Debug
/IOStreamAsync/bin/Debug
/IOStreamAsync/obj/Debug
/NormalFormDatabase/obj
